<body>
  <h3> Click the below images to check the videos</h3>
    <div class="responsive">
      <div class="grid">
        <a [routerLink]="['/summer']"><img src="../../assets/Images/Summer1.jpeg"></a>
        <a [routerLink]="['/winter']"><img src="../../assets/Images/Winter1.jpeg"></a>
        <a [routerLink]="['/spring']"><img src="../../assets/Images/Spring1.jpg"></a>
        <a [routerLink]="['/rain']"><img src="../../assets/Images/Rain1.jpg"></a>
      </div>
      <router-outlet></router-outlet>
    </div>
</body>

